<pre id="loading-indicator">Loading...</pre>
<main class="flex flex-wrap justify-center items-center h-full" id="cards-wrapper"></main>

<script>
	const updateCodes = async () => {
		const codes = await fetch("/codes").then(res => res.json());

		updateTime = Infinity;

		const cards = codes.map(({ id, name, code, expires }) => {
			updateTime = Math.min(updateTime, expires);

			const div = document.createElement("div");
			div.className = "text-center border border-current rounded-lg p-4 m-2 hover:bg-white/20 active:bg-green-500/60";
			div.addEventListener("click", () => navigator.clipboard.writeText(code));

			const nameDiv = document.createElement("div");
			nameDiv.textContent = name;
			div.appendChild(nameDiv);

			const codeDiv = document.createElement("div");
			codeDiv.className = "font-mono";
			codeDiv.textContent = code;
			div.appendChild(codeDiv);

			return div;
		});

		document.getElementById("cards-wrapper").replaceChildren(...cards);
	};

	updateCodes().then(() => document.getElementById("loading-indicator").remove() );
	setInterval(updateCodes, 1000);
</script>
