<form class="w-full h-full flex items-center justify-center"  method="post" action="/login">
    {{!-- TODO: spacing around {{password-class}} --}}
	<input type="password" name="password" class="border rounded-md p-2 {{password-class}}" placeholder="Password" required/>
</form>
